.navigationMenu {
    display: flex;
    align-items: center;
    position: fixed;
    top: 2.7rem;
    left: 0;
    right: 0;
    transition: 0.10s ease-in ;
    -webkit-transition: 0.10s ease-in ;
    -moz-transition: 0.10s ease-in ;
    -ms-transition: 0.10s ease-in ;
    -o-transition: 0.10s ease-in ;
    padding:0.5rem 3rem 0.5rem 3rem;
    z-index: 100000;
    width: 100%vh;
    justify-content: space-between;
    
}
/* STYLES FOR NAVIGATION PRIMARY */
.navigationMenuPrimary {
    color: black;
    font-weight: bold;
    display: flex;
    width: 350px;
}
 
.navigationMenuPrimaryList {
    display: flex;
    height: 100%;
    width: 100%;

}

.navigationBottomInformation {
    display: flex;
    width: 1500px;
    justify-content: space-between;
}


.linkBlack{
    list-style: none; 
}
.link {
    text-decoration: none;
    color: black;
}

.linkBlack::after {
    display:block;
    content: '';
    border-bottom: solid 3px #0c0d0e;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -ms-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
}

.linkBlack:hover::after {
    transform: scaleX(1);
}

/* STYLES NAVIGATIONMENU LOGO */
.navigationMenuLogo {
    width: 1800px;
    display: flex;
    width: 300px;
    padding-right: 10rem;
    justify-content: center;
}   

.navigationMenuLogoHeader {
    font-size: 3rem;
    text-decoration: none;
    color: black;
}
 /* STYLES NAVIGATION SECONDARY  */
.navigationMenuSecondary  {
    width: 28%;
    display: flex;
    justify-content: flex-end
}

.navigationMenuSecondaryList {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

/* MEDIA QUERIES */
@media(max-width:1760px) { 
    .navigationMenuSecondaryList {
        width: 28%;
}
.navigationMenuLogoHeader {
    font-size: 2.7rem;
}
}

@media (max-width:1630px) {
    .navigationMenuSecondaryList {
        width: 33%;
}
    .svgHome,
    .svgShoppingCard {
        width: 30px;
    }
    
}

@media (max-width:1520px) {
    .navigationMenuPrimary {
        width: 520px;
    }
    
    .navigationMenuSecondary  {
        width: 35%;
        
    }
}
@media (max-width:1400px) {   
    .navigationMenuLogoHeader {
        font-size: 2.4rem;
    }
    .navigationMenuPrimary {
        width: 650px;
    }
    .navigationMenuSecondary  {
        width: 45%;
        
    }
    
}
@media (max-width:1323px) {   
    .navigationMenuPrimary {
        width: 700px;
    }
    .navigationMenuSecondary  {
        width: 55%;
        
    }
    
}

@media (max-width:1182px) {   
    .navigationMenuPrimary {
        width: 900px;
    }
    .navigationMenuSecondary  {
        width: 75%;
        
    }
    
}

@media (max-width:1178px) {   
    .navigationMenuPrimary {
        width: 900px;
    }
    .navigationMenuSecondary  {
        width: 60%;
        
    }
    .navigationMenu {
        padding:0.5rem 1.5rem 0.5rem 1.5rem;
    }
    .svgHome,
    .svgShoppingCard {
        width: 26px;
    }
}
@media (max-width:1100px) {   
    .navigationMenuSecondary  {
        width: 75%;
        
    }
    .navigationBottomInformation {
        flex-direction: column;
    }

}



@media (max-width:1030px) {   
    .navigationMenuPrimary {
        width: 1100px;
    }
}

@media (max-width:1100px) {   
    .navigationMenuSecondary  {
        width: 90%;
        
    }
}


@media (max-width:941px) {   
    
    .navigationMenuLogo {
        width: 900px;
    }

    .navigationMenuLogoHeader {
        font-size: 2.1rem;
        font-weight: bold;
    }

    .navigationMenu {

    }

    .link {
        font-size: 0.9rem;
    }
}

@media (max-width:814px) {   
    .navigationMenuPrimary {
        width: 1000px;
    }

    .navigationMenuLogo {
        margin-left:1rem;
        /* width: 750px; */
        padding-right: 7rem;
    }

    .navigationMenuLogoHeader {
        font-size: 1.8rem;
    }
    .link {
        font-size: 0.9rem;
    }
}

@media(max-width:715px){
    .navigationMenuLogo {
        padding-right: 4.5rem;
    }
}

@media (max-width:673px) {   
    .navigationMenuPrimary {
        display: none;  
    }
    .navigationMenuSecondary {
        display: none;
    }
    .navigationMenuLogo {
        padding-right: 0rem;
    }

}

@media (max-width:470px) {  
    .navigationMenu {
        padding: 0rem;
        display: flex;
        justify-content: center;
    }
    
    .navigationMenuLogo {
        margin-left: 0rem;
        width: 200px;
    }

}
