/* STYLES FOR IMAGE SILDER */
.carouselContainer {
    width: 100%;
    height: 1150px;
    position: relative;
}

.carouselSlide {
    background: linear-gradient(to left, rgba(7, 7, 7, 0) 50%,
              rgb(0, 0, 0) 100%), url(../../Images/joshua.jpg);
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100%;
}

/* later background-position:center */

/* STYLES FOR IMAGE SLIDER MESSAGES */
.carouselMessage {
    position: absolute;
    top:40%;
    left:10%;
    color: white;
    z-index: 10000;
}

.carouselMessageHeader {
    font-size: 3rem;
    margin-bottom:1rem;
}
.carouselMessageText {
    font-size: 1.5rem;
    width: 400px;  
}
/* IMPORTED NAVLINK */
.link {
    color: white;
    text-decoration: none;
}

/* MEDIA QUERIES */
@media (max-width:1800px) {
    .carouselMessageHeader {
        font-size: 2.6rem;
    }
    .carouselMessageText {
        font-size: 1.3rem;
    }
    .carouselContainer {
        width: 100%;
        height: 920px;
    }
    
}

@media (max-width:1700px) {
    .carouselMessageHeader {
        font-size: 2.3rem;
    }
    .carouselMessageText {
        font-size: 1.2rem;
    }
}

@media (max-width:1027px) {
    .carouselMessageText {
        font-size: 1rem;
    }
.carouselSlide {
    background-position: center;
    }
.carouselMessage {
    top:50%;
    left:10%;
    }
    .carouselContainer {
        height: 800px;
        position: relative;
    }
    
}

@media (max-width:941px) {
    .carouselMessageHeader {
        font-size: 1.7rem;
        margin-bottom: 0.3rem ;
    }
    .carouselMessageText {
        font-size: 0.9rem;
    }
    
    
}

@media (max-width:813px) {    
.carouselContainer {
    height: 700px;
    position: relative;
}
}

@media (max-width:673px) {
    .carouselMessageHeader {
        font-size: 1.5rem;
        width: 300px;
    }
    .carouselMessageText {
        font-size: 0.8rem;
        width: 300px;
    }
}

@media (max-width:673px) {
    .carouselMessageHeader {
        width: 300px;
    }
    .carouselMessageText {
        font-size: 0.8rem;
        width: 300px;
    }
}

@media (max-width:436px) {
    .carouselMessageHeader {
        width: 200px;
    }
    .carouselMessageText {
        font-size: 0.8rem;
        width: 250px;
    }
}

