.chooseClothesSort {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.chooseClothesSortButton {
    font-family: inherit;
    color: rgb(19, 18, 18);
    border: none;
    background-color: white;
    color: black;
    border: 1px solid black; 
    width: 220px;
    height: 40px;
    font-size: inherit;
    margin-top: 2rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    

}
.chooseClothesSortButtonIcon {
    position: absolute;
    right:5%;
    top:25%;
    
}

.chooseClothesSortButton:focus {
    outline: none;
}
.dropdownElement {
    list-style: none;
    border: 1px solid black;
    border-top: 0;
    width: 220px;
    color: rgb(10, 10, 10);
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.dropdownElement:hover,
.dropdownElement:active {
    color: white !important;
    background-color: rgb(26, 25, 25) !important;
    
}
/* MEDIA QUERIES */
@media (max-width:1397px) {
    .chooseClothesSortButton {
        width: 180px;
        justify-content: flex-start;
        padding: 0rem 0rem 0rem 0.5rem;
        font-size: 0.95rem;
    }
    .dropdownElement {
        width: 180px;
        height: 50px;
        justify-content: flex-start;
        padding-left:0.5rem;
        font-size:0.9rem;
        text-align: left;
    }
    
}

@media (max-width:1130px) {
    .chooseClothesSortButton {
        font-size: 0.9rem;
        width: 160px;
        height: 35px;
    }
    .dropdownElement {
        width: 160px;
    }
    
    
}






